{% extends 'app/base.html' %}

{% block content %}

<div class="my-5">
    <h3>shopping cart</h3>
</div>

<div class="row order">
    <div class="col-md-9 mb-5">
        <div class="card">
            <div class="card-body px-4 py-3">
                {% for order_item in order.items.all %}
                <div class="row">
                    <div class="col-mb-3 text-center">
                        <img src="{{ order_item.item.image.url }}" alt="{{ order_item.item.title }}" class="img-fluid">
                    </div>
                    <div class="col-mb-6">
                        <h5>{{ order_item.item.title }}</h5>
                        <p class="mb-1">
                            quantity:
                            <a href="{% url 'removesingleitem' order_item.item.slug %}"><span class="font-weight-bold mx-2">-</span></a>
                            {{ order_item.quantity }}
                            <a href="{% url 'additem' order_item.item.slug %}"><span class="font-weight-bold mx-2">+</span></a>
                        </p>
                        <a href="{% url 'removeitem' order_item.item.slug %}">
                            <span class="btn btn-danger mx-2">Delete</span>
                        </a>
                    </div>
                    <div class="col-mb-3 text-right">
                        <p>
                            Price:
                            <span class="text-danger font-weight-bold">
                                {{ order_item.get_total_item.price }}Yen
                            </span>
                        </p>
                    </div>
                </div>

                {% if not forloop.last %}
                <hr>
                {% endif %}

                {% empty %}
                <p class="mb-3">Yor cart is empty</p>

                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-mb-3">
        <div class="card">
            <div class="card-body text-center px-2 py-3">
                {% if order.get_total %}
                <p>Total: <span class="fort-weight-bold">{{ order.get_total }}</span>Yen</p>
                <div class="mb-3">
                    <a href="{% url 'payment' %}" class="btn btn-warning">Place your order</a>
                </div>
                {% endif %}
                <a href="/" class="btn btn-primary">Continue shopping</a>
            </div>
        </div>
    </div>

</div>

{% endblock %}